<div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="clearfix">
        <form [formGroup]="inputForm" (ngSubmit)="approveUser(inputForm.getRawValue())" class="form-content" novalidate autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false">
            <label for="userid">User Id :</label>
            <div>
                <div class="form-ele">{{ userid }}</div>
            </div>
            
            <div>
              <label for="firstname">First Name :</label>
              <div class="gform">
                  <input type="text" id="firstname" [formControl]="firstname">
              </div>
            </div>

            <div>
                <label for="email">Email :</label>
                <div class="gform">
                    <input type="text" id="email" [formControl]="email">
                </div>
            </div>
            <div [ngClass]="{'has-error': inputForm.get('usercode').invalid && inputForm.get('usercode').dirty}">
                <label for="usercode">Clients<sup>*</sup> :</label>
                <div class="gform">
                  <select #inputclientRef [appDisableControl]="this.loading == true" [formControl]="usercode">
                    <option ng-selected="true" value="">Select client</option>  
                    <option *ngFor="let a of clist" [ngValue]="a.client_id">{{a.client_name }} &nbsp;&nbsp;&nbsp; {{ a.address_line_1}}</option>
                  </select>
                  <div class="text-danger input-warning" *ngIf="inputForm.get('usercode').dirty && inputForm.get('usercode').invalid">
                      <span>Please input the correct client</span>
                  </div>
                </div>
            </div>

            <div>
                <button type="submit" [disabled]="inputForm.invalid || this.loading == true" class="btn btn-primary">Save</button>
                <button type="reset" [disabled]="this.loading == true" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
            </div>
        </form>  
    </div>
</div>